
body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  padding-bottom:0px;
}

.navbar{
  background-color:#141212;
  opacity: 50%;
  width: 100vw;
  height: fit-content;
}

.nav-item{
  color: bisque;
}

.img-fluid{
  width : 100vw;
  height: 100vh; 
}

#homeCarousel {
  width : 100vw;
  height: 100vh;
  margin: 0px 0px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
  margin-right: 0px;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}
.carousel-indicators li {
    display: inline-block;
    margin: 10px;
    background-color: black;
    opacity: 50%;   
}
.carousel-indicators .active {
    background-color: black;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}
.carousel-indicators{
  color:black;
}

.jumbotron{
    margin-bottom: 0px;
    background-color: #141212;
}

.container_body{
  margin-top: 100px ;
}

#socialDiv{
    margin-left: 20px;
}
.card{
    border: 1px solid gray;
    margin: 10px 5px 5px 5px;
    width: fit-content;
    height: fit-content;
}

.card-img{
  width: 90% ;
  height: 40%;
  margin-top: 20px;
}

.card-body{
  margin: 0px 0px 20px 0px;
}

.card_portfolio_body{
  height: 160px;
}
.card-header{
  margin: 20px 0px 10px 0px;
  opacity: 70%;
}

#portfolio{
  margin-top: 30px;
  margin-bottom: 30px;
}
#card-row{
  margin-top: 30px;
}

.gallery-card-img{
  width: 30% ;
  height: 30%;
}

.footer{
  margin-top: 5%;
  border-radius: 0px;
  color: lightgrey;
  margin-bottom: 0%;
  width: 100vw;
  overflow-y: hidden;
}

.gallerySlides {
  display: none;
  height: 50%;
}

  /* Add a pointer when hovering over the thumbnail images */

  .cursor {
    cursor: pointer;
  }
  .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30vh;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  height: 60%;
}

.active,
.demo:hover {
  opacity: 1;
}

.img_gallery{
  width: 50%;
  height: 50%;
}
.modal {
  width: 80vw;
  height: 90vh;
  margin-left: 10vw;
  margin-top: 5vh;
  padding: 0%;
  background-color: rgb(0,0,0,0.8);
}
.modal-document{
  margin-bottom: 0%;
  width: 100%;
  height: 100%;
}
.modal-dialog{
  margin-right:0% ;
  height: 80%;
  margin: 0%;
  padding: 0%;
}
.modal-header
{
  height:10vh;
  margin-bottom: 2%;
  border: none;
}
.model-dialog ,.modal-content {
  height: 90vh;
  width: 80vw;
  background-color: rgb(0,0,0,0.8);
}
.modal-body{
  padding: 0%;
  height: 60vh;
  background-color: rgb(0,0,0,0.8);
}
.thumbnail_row{
  height: 70%;
  padding: 0%;
}
#img_container{
/* width: 100%; */
/* height: 100%; */
}
.modal-footer{
  height: 15vh;
  padding: 0%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: rgb(0,0,0,0.8);
  border: none;
}
.img_column
{
  height: 5vh;
  padding: 0%;
}
.close{
  color: aliceblue;
}
.gallery_header{
  color: aliceblue;
}